@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 min-h-screen flex flex-col overflow-x-hidden;
  }
}

.text-gold-gradient {
  background: linear-gradient(to right, #C6A664, #eebd2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
